@model IEnumerable<MyBudgetCMS.Models.Dto.TypeOfPaymentDto>
@{
    ViewBag.Title = "סוגי תשלומים";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 title-section">
        <h2 class="main-page-title">@ViewBag.Title</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 buttons-section text-right">
        @Html.ActionLink("הוספת סוג תשלום", "AddTypeOfPayment", null, new { @class = "btn btn-info", onclick = "javascript:return false;" })
    </div>
</div>


<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="card mb-3">
            <div class="card-header text-right">
                <i class="fa fa-table"></i>
                רשימת הוצאות
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead class="theader">
                            <tr class="tr-header">
                                <th class="th-header">קוד</th>
                                <th class="th-header">כותרת</th>
                                <th class="th-header">מזהה ייחודי</th>
                            </tr>
                        </thead>
                        <tbody class="tbody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

    <script>
        $(function () {

            var text = "האם אתה בטוח שברצונך למחוק את הפריט ?";

            $("#dataTable").dataTable({
                "bServerSide": true, //make server side processing to true
                "sAjaxSource": '/MyBudgetCMS/api/TypeOfPayment/GetData', //url of the Ajax source,i.e. web api method
                "sAjaxDataProp": "aaData", // data property of the returned ajax which contains table data
                "bProcessing": true,
                "bLengthChange": false,
                "sPaginationType": "full_numbers",//pagination type
                "aoColumnDefs": [],
                "aoColumns": [                  
                    { "mData": "Code" },
                    { "mData": "Title" },
                    { "mData": "Id" }
                ],
                "language": {
                    "sSearch": "חפש",
                    "lengthMenu": "Display _MENU_ records per page",
                    "zeroRecords": "מצטערים אין תוצאות",
                    "info": "מציג עמוד _PAGE_ מתוך _PAGES_",
                    "infoEmpty": "No records available",
                    "infoFiltered": "(filtered from _MAX_ total records)",
                    "processing": "טוען",
                    "paginate": {
                        "previous": "הקודם",
                        "next": "הבא",
                        "last": "אחרון",
                        "first": "ראשון"
                    }
                }
            });

            $('div.dataTables_filter input').addClass('form-control');
        });
    </script>

}


@*@if (!Model.Any())
    {
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h1 class="empty-grid-text">לא קיימים סוגי תשלומים במערכת</h1>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="card mb-3">
                    <div class="card-header text-right">
                        <i class="fa fa-table"></i>
                        רשימת סוגי תשלומים
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead class="theader">
                                    <tr class="tr-header">
                                        <th class="th-header">קוד</th>
                                        <th class="th-header">כותרת</th>
                                        <th class="th-header">מזהה ייחודי</th>
                                    </tr>
                                </thead>
                                <tbody class="tbody">
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Code</td>
                                            <td>@item.Title</td>
                                            <td>@item.Id</td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }*@


